<header>
  <nav class="navbar navbar-expand-sm navbar-light p-0 h-100">
    <div class="container-fluid p-0">
      <a class="logo navbar-brand font-color" href="/">
        <i class="ri-bowl-line" style="color: #e6511a; font-size: 28px;"></i>BhojanSetu</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span><i class="fas fa-bars text-white"></i></span>
      </button>
      <div
        class="collapse navbar-collapse ps-2"
        id="navbarSupportedContent"
        style="z-index: 100"
      >
        <ul class="navbar-nav ms-auto me-3 d-flex flex-row w-auto gap-2">
          <li class="nav-item">
            <a class="nav-link" href="/home/about-us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/mission">Our mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/join-us">Contact us</a>
          </li>
          <% if(currentUser) { %>
          <li class="user-icon font-color1 text-[10px]">
            <%= currentUser.firstName[0].toUpperCase() %>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Signup</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>
